.welcome-section {
    position: relative;
    background-image: url('../img/wlcm.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
}
.welcome-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 0, 70, 0.3);
    z-index: 1;
}
.welcome-section .container {
    position: relative;
    z-index: 2;
}
.welcome-section h1, .welcome-section p, .welcome-section a {
    color: white;
}
.welcome-content {
    padding-top: 150px;
    padding-bottom: 150px;
}
.floating-card {
    position: relative;
    top: -150px;
    z-index: 3;
}
.card .icon {
    font-size: 3rem;
    color: lightseagreen;
}
.card-text {
    color: gray;
}
.card:hover {
    background-color: lightseagreen;
    color: #fff;
}
.card {
    transition: all 0.5s;
}
.card:hover .icon,
.card:hover .card-text {
    color: #fff;
}
.card.active {
    background-color: lightseagreen;
    color: #fff;
}
.card.active .icon,
.card.active .card-text {
    color: #fff;
}
@media (max-width: 767.98px) {
    .card:not(.active) {
        display: none;
    }
}
.footer {
    background-color: #e3f2fd;
    color: lightseagreen;
    padding: 20px 0;
    margin-top: 200px;
}
.footer a {
    color: lightseagreen;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}