<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Geografis Embung ITEREA</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /> <!-- leaflet style -->
    <link rel="stylesheet" href="/static/css/leaflet-search.min.css"> <!--search leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css"> <!-- tracking -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet-search@2.9.8/dist/leaflet-search.min.css"> -->
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="/static/js/leaflet-search.min.js"></script> <!-- search -->
    <!-- <script src="https://unpkg.com/leaflet-search@2.9.8/dist/leaflet-search.min.js"></script> -->
    
    <!-- <script src="https://unpkg.com/leaflet-search@2.9.8/dist/leaflet-search.min.js"></script> -->
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->
    <!-- <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script> tracking -->
    <!-- Leaflet JS -->
    
    
    <style>
        #map{
            height: 100vh;
            width: 100%;
        }
        </style>
</head>
<body>
    <h1>Embung Kampus ITERA</h1>
    <div id="map"></div>
    
    
    <!-- <script>
        // inisiasiasi peta
        var map = L.map('map').setView([-5.360092, 105.314564], 15);

        // peta dasar atau basemap
        // basemap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
            // attribution: '&copy; OpenStreetMap GIS Embung'
        }).addTo(map);

        // ambil data geojson dari API flask
        fetch('http://127.0.0.1:3000/api/embung')
            .then(response => response.json())
            .then(data => {
                var geojsonLayer = L.geoJSON(data.features, {
                    interactive: true,
                    onEachFeature: function (feature, layer) {
                        // console.log(feature); // Lihat struktur feature
                        // console.log(feature.properties); // Pastikan properties ada
                        // console.log(feature.properties.Keliling_m); // Pastikan properties ada
                        layer.bindPopup(`
                            <b>Nama:</b> ${feature.properties.Name || "Tidak Ada Data"}<br>
                            <b>Luas:</b> ${feature.properties.Luas_m2 || "Tidak Ada Data"} m²<br>
                            <b>Keliling:</b> ${feature.properties.Keliling_m || "Tidak Ada Data"} m <br>
                        `);
                    }
                }).addTo(map);

                // Menambahkan fitur pencarian
                var searchControl = new L.Control.Search({
                    layer: geojsonLayer,
                    propertyName: 'Name', // Nama field yang digunakan untuk pencarian
                    initial: false,
                    zoom: 18,
                    marker: false // Tidak menambahkan marker pencarian
                });
                map.addControl(searchControl);
            
                searchControl.on('search:locationfound', function (e) {
                    if (waypoints.length < 2){
                        addWaypoint(e.latlng)
                    }
                });
            });
        // waypoint array untuk routing
        let waypoints = [];

        function addWaypoint(latlng) {
            const marker = L.marker(latlng).addTo(map);

            // tambahkan ke waypoint
            waypoints.push(latlng);

            // jika sudah dua titik, tampilkan rute
            if (waypoints.length === 2){
                L.Routing.control({
                    waypoints: waypoints,
                    routeWhileDragging: true,
                    router: L.Routing.osrmv1({
                        serviceUrl: 'https://router.project-osrm.org/route/v1'
                    })                    
                }).addTo(map);

                // reset waypoints untuk rute berikutnya
                waypoints = [];
            }
        }

        map.on('click', function (e) {
            if (waypoints.length < 2) {
                addWaypoint(e.latlng);
            }
        });
    </script> -->

    <!-- <script src="/static/js/map.js"></script> -->
    <!-- <script src="/static/js/mapping.js"></script> -->
    <script src="/static/js/mapNavigasi.js"></script>
</body>
</html>